<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         testdox="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_KEY" value="base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAsQ==" force="true"/>
        <env name="CACHE_STORE" value="array" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="LOG_CHANNEL" value="stderr" force="true"/>
        <env name="ESSENSE_BASE_URL" value="https://codechallenge.essensedesigns.info" force="true"/>
        <env name="ESSENSE_API_KEY" value="test-api-key" force="true"/>
        <env name="ALLOW_UNLIMITED_ACTIONS" value="" force="true"/>
    </php>

    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
</phpunit>
